body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

.navbar{
    background-color: goldenrod;
}

.navbar-brand{
    margin-left: 10px;
}

.navbar-brand #BrandName{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand div:hover{
    text-decoration: none;
}

.navbar-brand #KosherCertified{
    color: #222;
    text-transform: uppercase;
    font-size: .7em;
}

#KosherCertified span{
    vertical-align: middle;
    font-size: .7;
}

.navbar-toggler-icon{
    color: black;
}

#nav-list a{
    color: #951c49;
    text-align: center;
}

#nav-list a span{
    font-size: 1.8em!important;
}

#nav-list li:hover{
    background-color:rgb(197, 141, 0);
}

#tel a{
    text-align: right;
}

#tel #num{
    font-size: 1.3em;
    color: #557c3e;
    text-shadow: 1px 1px 1px #222
}

#tel1 #num{
    font-size: 1em;
    color: #557c3e;
    text-shadow: 1px 1px 1px #222
}

#tel #mess, #tel1 #mess{
    color: #61122f;
}

.navbar-toggler{
    border: 1px solid #61122f!important;
    padding: 4px 4px 4px 4px;
    margin-right:10px;
}

.navbar-toggler:hover, .navbar-toggler:active{
    background-color: rgb(197, 141, 0);
}

#nav-list .active{
    background-color: rgb(197, 141, 0) !important;
}

header .btn{
    margin-top: 5px; 
    border: 2px solid goldenrod;
}

header .btn:hover, header .btn:active{
    background-color: #47001b;
}

header .container .btn #num{
    font-size: 1.5em;
    color: goldenrod;
    text-shadow: 2px 2px 2px #222;
}

header .container .btn #mess{
    font-size: 1em;
    color: goldenrod;
    text-shadow: 2px 2px 2px #222
}

header{
    margin-bottom: 30px;
}

.btn:focus,.btn:active ,button:focus, button:active{
    outline: none !important;
    box-shadow: none;
 }

 #tel1{
    text-align: left;
 }

 .jumbotron{
     padding: 0px!important;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .jumbotron img{
    border: 1px solid goldenrod;
 }

 #menu, #specials, #map{
     border: 1px solid goldenrod;
 }

#menu:hover, #specials:hover, #map:hover{
    box-shadow: 0 0 20px inset #e44b83;
}

 #menu:active, #specials:active, #map:active{
    box-shadow: 0 0 20px inset #e44b83;
}


#home-tiles{
    margin: 0!important;
    margin-bottom: 15px;
}

#home-tiles #menu,#home-tiles #specials,#home-tiles #map{
    height: 250px;
}

#home-tiles #menu span, #home-tiles #specials span, #home-tiles #map span{
    position: absolute;
    bottom: 0;
    font-size: 1.6em;
    color: goldenrod;
    text-transform: uppercase;
    background: #951c48af;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 2px rgb(15, 15, 15);
    font-family: 'Lora',sans-serif;
    font-weight: bold;
}

#home-tiles .col-lg-6, #home-tiles .col-md-6, #home-tiles .col-xl-4{
    padding: 0!important;
}

/* #home-tiles #specials, #home-tiles #map{
    margin-left: 15px;
} */

#home-tiles #menu{
    background: url('images/menu-tile.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#home-tiles #specials{
    background: url('../images/specials-tile.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

@media(max-width:767px){
    #menu, #specials, #map{
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    footer{
        text-align: center;
    }

    footer #address, footer #quotes{
        margin-top: 30px;
    }
}

.footer-title{
    font-size: 1.3em;
}

#hours, #address{
    line-height: 2em;
}

#address-line-4{
    font-size: 0.8em;
    line-height: normal;
    margin-top: 5px;
    color: #557c3e;
}

#quotes{
    font-style: italic;
}

#copyright{
    text-align: center;
    margin-top: 30px;
}

footer{
    margin-top: 30px;
    background-color: rgb(41, 41, 41)!important;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.category-tile { 
    position: relative;
    overflow: hidden;
    border: 2px solid goldenrod;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
  }
.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(15, 15, 15);
    font-family: 'Lora',sans-serif;
    font-weight: bold;
    color: goldenrod;
    background-color: #951c49;
    opacity: .8;
}

.category-tile:hover{
    box-shadow: 2px 2px 5px goldenrod;
}

#categories-section{
    margin-top: 10px;
}

#single-category-section{
    margin-top: 30px;
}

#single-category-section > div{
    margin-bottom: 8px;
}

#single-category-section #image-and-type img{
    width: 100%;
    height: auto;
}

#single-category-section #image-and-type{
    position: relative;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#single-category-section #image-and-type #type{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #557c3e;
    width:25%;
    text-align: center;
}

#single-category-section #name{
    font-size: 24px;
    text-align: left;
}

#single-category-section #description{
    font-style: italic;
    text-align: left;
}

#single-category-section #price{
    font-style: normal;
    text-align: right;
}

#single-category-section hr{
    background-color: goldenrod;
}
